<% include partials/_header %>
<h2 align=center>New Student</h2>
<div class="col-md-3" align=center style="width:800px; margin:0 auto;">
  <div class="card">
    <div class="card-body">
      <form action="/add" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="sfname" placeholder="First Name">
        </div>
        <div class="form-group">
          <div class="form-group">
            <input class="form-control" type="text" name="slname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <select class="form-control" name="sclass">
              <option value="Computer Science">Computer Science</option>
              <option value="Zoology">Zoology</option>
              <option value="Economics">Economics</option>
              <option value="Psychology">Psychology</option>
            </select>
          </div>

          <div class="form-group">
            <textarea class="form-control" name="saddr" cols="80" placeholder="Address"></textarea>
          </div>
          <button class="btn btn-primary" type="submit">
            Add
          </button>
      </form>
    </div>
  </div>
</div>